@tailwind base;
@tailwind components;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    height: 100vh;
    background-color:#121212;
    scroll-behavior: smooth
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@tailwind utilities;